.header {
    font-size: 48px;
    color: white;
    text-align: center;
    background: dimgray;
    padding: 20px;
}

.container-wrapper {
    display: flex;
}

.container {
    margin: 20px 100px;
    position: sticky;
}

.button {
    background: dimgray;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 20px;

}

.next_people, .next_planets, .next_vehicles {
    display: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 30px;
    background: dimgray;
    color: white;
    font-size: 20px;
}

.vehicles-content, .planets-content, .people-content, .details-content {
    font-size: 20px;
    cursor: pointer;
    padding: 20px 0;
    width: 150px;
    height: 350px;
}

.orange:hover {
    color: orange;
}
